* {
  box-sizing: border-box;
}

body {
  background-color: red;
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 2px solid rgb(161, 158, 158);
  z-index: 1;
}

#yourName {
  position: fixed;
  top: inherit;
  left: 5%;
  width: 20%;
  height: inherit;
  background-color: rgb(14, 202, 202);
  text-align: center;
  font-size: 35px;
  color: white;
  padding-top: 35px;
}

nav {
  position: fixed;
  top: inherit;
  right: 5%;
  width: 20%;
  height: inherit;
  text-align: right;
  font-size: 20px;
  padding-top: 40px;
  /* background-color: pink; */
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: blue;
}
.wrapper {
  min-height: 100%;
 margin-bottom: -100px;
}

/* .wrapper::after {
  display: block;
} */

section {
  /* top: 100px; */
  padding: 5%;
  background: white;
  margin-top: 100px;
  /* position: absolute; */

}
  #aboutMe {
    background-color: white;
    border-bottom: 2px solid rgb(110, 110, 110);
    font-size: 30px;
    font-weight: bold;
    text-align: 10%;
    position: relative;
    top: -20px;
  }
  #words {
    background-color: white;
    font-size: 25px;
    text-align: justify;
  }
  #catPic {
    float: left;
    margin-right: 30px;
  }
  p {
    line-height: 45px;
    background-color: white;
    padding-bottom: 25px;
  }
  .clear {
    clear: both;
  }

  

 
  footer {
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  
    background-color: #efefef;
    text-align: center;
  
}
